---
import Events from "../components/Events.astro";
import Layout from "../layouts/Layout.astro";
import Careers from "../components/Careers.astro";
import Plans from "../components/Plans.astro";
import Documentation from "../components/Documentation.astro";
import Credits from "../components/Credits.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Informática Unahur">
  <div slot="body">
    <Events />
    <Careers />
  </div>
  <div slot="rest">
    <Plans />
    <div class="max-w-6xl w-full pb-80 p-6 m-auto lg:p-0">
      <Documentation />
      <Credits />
      <Contact />
    </div>
  </div>
</Layout>
