---
import SectionTitle from "./SectionTitle/SectionTitle.astro";
import CatalogoCreditos from "../assets/202206-catalogo-creditos-tecnicaturas-informatica.pdf";
import ReglamentoCreditos from "../assets/202206-Reglamento-Creditos-ITI.pdf";
import ProcedimientoCreditos from "../assets/procedimientos-estudiantes.pdf";
---

<SectionTitle
  epigraph="EN LOS PLANES DE LAS TECNICATURAS"
  title="Sistema De Créditos"
  id="creditos"
>
  <div
    class="rounded-2xl shadow-xl w-full py-10 px-10 flex-wrap text-start flex lg:py-20 lg:px-32"
  >
    <div class="w-4/4 lg:w-2/4">
      <p class="font-normal text-base grey-color">
        Los planes de estudio de la <b
          >Tecniatura Universitaria en Programación</b
        > y de la
        <b>Tecnicatura Univeristaria en Redes y Operaciones</b>, tiene un
        complemento de actividades que se validan mediante
      </p>
      <div class="my-2">
        <ul class="flex w-full flex-wrap">
          {
            [
              "Tipo de actividades",
              "Actividad profesional",
              "Certificaciones basadas en dedicación",
              "Otros aspectos detallados en el reglamento",
            ].map((check) => <li class="w-2/4 py-2">✔️ {check}</li>)
          }
        </ul>
      </div>
      <p class="font-normal text-base grey-color">
        Esto te permite fortalecer tus conocimientos con otras habilidades y
        además poder validar actividades que realices fuera de la cursada
        habitual. Ante cualquier consultá por mail a: creditos.iti@unahur.edu.ar
      </p>
    </div>
    <div class="w-4/4 lg:w-2/4 flex flex-col p-12">
      <p>A continuación se brindarán links útiles:</p>
      <br />
      <div class="mt-3">
        <ul>
          {
            [
              { href: CatalogoCreditos, label: "Consultar catálogo" },
              { href: ReglamentoCreditos, label: "Reglamento" },
              { href: ProcedimientoCreditos, label: "Procedimiento" },
              {
                href: "https://docs.google.com/spreadsheets/d/1hOk2co2Rv2Q6y7RiNNfTav3QFHDguMcMubB5wFu6BkE/copy",
                label: "Control de créditos",
              },
            ].map((util) => (
              <li>
                <a href={util.href} target="_blank" class="flex">
                  <h3 class="underline">{util.label}</h3>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</SectionTitle>
