---
import EventLayout from "../layouts/EventLayout.astro";
import EventImage from "../assets/desarrolladores.jpg";
import About from "../assets/about-dec-v3.png";
import CakeGrahp from "./Events/CakeGrahp.astro";
---

<div class="min-h-screen pt-16 gap-10 flex justify-around event-heigh flex-col">
  <EventLayout
    title="UNAHUR@TIC #2"
    epigraph="Sábado 4 de noviembre"
    img={EventImage}
    buttonLabel="Registrate y descarga la agenda"
    linkButton="https://informaticaunahur.github.io/unahurtic2023/"
  >
    <p slot="body" class="body-text">
      2das Jornadas de actualización tecnológica de Informática. Habrá charlas y
      espacios de intercambio sobre IA, Desarrollo de Software, Videojuegos ,
      Mundo laboral.
    </p>
  </EventLayout>
  <EventLayout
    title="Carga Horaria De Las Tecnicaturas?"
    epigraph="Pregrado"
    img={About}
    buttonLabel="Mas información..."
    linkButton="/#services"
    reverse
  >
    <p slot="body" class="body-text">
      Los nuevos planes de pregrado tienen menor carga horaria. Son más
      específicos en los <span class="font-bold">alcances del título</span> y requieren
      una menor dedicación horaria de cursada semanal para que te puedas organizar
      mejor, sobre todo al inicio de la vida universitaria.
    </p>
    <div
      slot="extra-body"
      class="flex gap-5 mb-10 w-full flex-wrap justify-center lg:flex-nowrap lg:justify-between"
    >
      {
        (
          //TODO: Mejorar la cuenta del porcentaje, anda re mal}
          <>
            <CakeGrahp
              percentage={0}
              title="1408 hs"
              subtitle="-25% total"
              color="var(--primaryColor);"
            />
            <CakeGrahp
              percentage={10}
              title="14 hs"
              subtitle="X semana"
              color="#726ae3"
            />
            <CakeGrahp
              percentage={75}
              title="35"
              subtitle="Créditos"
              color="#f58b56"
            />
          </>
        )
      }
    </div>
  </EventLayout>
</div>

<style>
  .body-text {
    color: #5b5c5e;
    font-size: 16px;
    font-weight: 400;
  }
</style>
