---
import { Image } from "astro:assets";
import NavButton from "./Header/NavButton.astro";
import UnahurLogo from "../assets/logo-informatica-con-nombre.jpg";
---

<header
  class={`flex justify-center bg-white w-full fixed top-0 p-4 shadow h-16 z-50`}
>
  <div
    class="flex justify-between items-center w-full max-w-6xl flex-col lg:flex-row"
  >
    <Image
      src={UnahurLogo}
      alt="Logo principal de la Universidad Nacional de Hurlingham junto al logo de la carrera de informática"
    />
    <nav class="hidden lg:flex">
      <NavButton href="#" label="Inicio" />
      <NavButton href="#planes" label="Planes" />
      <NavButton href="#creditos" label="Créditos" />
      <NavButton href="#contacto" label="Contacto" />
      <hr class="w-[1px] h-10 py-4 bg-gray-300" />
      <NavButton href="/materias" label="Materias" />
      <NavButton
        href="https://tourmaline-cocoa-6c3.notion.site/87a29a1aebd3471eb4c477ce5b9d7b11?v=723d2a9e732a4ea58278ac4f11ba9c5e"
        label="Horarios"
      />
    </nav>
  </div>
</header>
