---
import Carousel from "./Plans/Carousel.astro";
import SectionTitle from "./SectionTitle/SectionTitle.astro";
---

<SectionTitle
  epigraph="Analizalos, leelos y comparalos"
  title="Planes"
  id="planes"
>
  <div class="p-10">
    <Carousel />
  </div>
</SectionTitle>
